<div class="col-lg-4 col-sm-5 mt-5 mt-sm-0 comment-parent">
    <!-- mja comments -->
      <div class="comments">
        <form
        data-netlify="true"
        data-netlify-honeypot="bot-field"
        name="new-comment"
        class="my"
      >
        <div class="col-12">
          <h3 class="section-title">{{ i18n "comment" }}</h3>
        </div>
        <div class="form-group col-md-12">
          <label for="name">{{- i18n "name" }} {{ i18n "displayed" -}}</label>
          <input type="text" name="name" id="name" class="form-control" placeholder="Grahambel" required>
        </div>
        <div class="form-group col-md-12">
          <label for="email">{{- i18n "email" }} {{ i18n "hidden" -}}</label>
          <input type="email" name="email" id="email" class="form-control" placeholder="du@email.com" required>
        </div>
        <div class="form-group col-12">
          <label for="message">{{ i18n "message"}}</label>
          <textarea name="message" id="message" class="form-control" placeholder="{{- i18n "message_from_you" -}}" required></textarea>
        </div>
        <div class="col-12">
          <button class="btn btn-primary" type="submit">{{ i18n "send-comment"}}<i class="ti-arrow-right ml-2"></i></button>
        </div>
      <input type="hidden" name="bot-field" />
      <input type="hidden" name="title" id="title" value ="{{- .Title -}}" />
      <input type="hidden" name="language" id="language" value ="{{- .Page.Lang -}}" />
      </form>
    </div>
</div>
