{{ define "main" }}

<section>
  <div class="container">
    <div class="row justify-content-between">
      <div class="col-lg-7">
        <img src="{{ .Params.image | absURL }}" alt="{{ .Title }}" class="img-fluid w-100 mb-4">
        <h1 class="mb-4">{{ .Title | markdownify }}</h1>
        <ul class="post-meta list-inline mb-3">
          <li class="list-inline-item"><i class="ti-time mr-2"></i>{{.PublishDate.Day }}. {{ i18n (printf "long_month_%d" .PublishDate.Month) }}</li>
          <li class="list-inline-item"><i class="ti-folder"></i>
            {{ range $i,$p:= .Params.Categories }}{{if ne $i 0}},{{end}}<a
              href="{{ `categories/` | relLangURL }}{{ . | urlize | lower }}" class="ml-1">{{ . | humanize }} </a>
            {{end}}</li>
        </ul>
        <div class="content">{{ .Content }}</div>

        <!-- comments -->
        {{ if .Site.DisqusShortname }}
        <div class="mt-5">
          {{ template "_internal/disqus.html" . }}
        </div>             
        {{ end }}
      </div>
    {{ partial "comment-sidebar.html" . }}
  </div>
</div>
</section>
        <!-- new comments -->
        <section id="storedcomments" class="stack gap-10" data-title="{{- .Title -}}" data-lang="{{- .Page.Lang -}}">
          <div class="stack gap-0">
            <div class="comment-actions flex flex-wrap align-center justify-between gap-0">
              <h2><span id="comments-count" aria-hidden="true"></span>Comments</h2>
            </div>
          </div>
          <div id="comments-wrapper">
            <p id="comments-placeholder" class="text-center">Loading...</p>
          </div>
</section>

<script type="application/javascript">
const commentsSection = document.querySelector('#storedcomments');
const commentsPlaceholder = document.querySelector('#comments-placeholder');
const title = commentsSection.getAttribute('data-title');
const lang = commentsSection.getAttribute('data-lang');

// Optimization: Defer GitHub API request until users reach the comments footer.
const commentsObserver = new IntersectionObserver(
  (entries, self) => {
    entries.forEach(async (entry) => {
      console.log(entry)
      if (entry.isIntersecting) {
        // Don't need this until they reach the comments section
        const { fetchComments, renderComments } = await import('https://www.kochessenz.de/scripts/commentutils.js');
        try {
          const comments = await fetchComments(lang, title);
          renderComments(comments);
        } catch (error) {
          commentsPlaceholder.innerHTML = error.message;
        }
        self.unobserve(entry.target);
      }
    });
  },
  { rootMargin: '200px 0px 0px 0px' }
);

// Once the user reaches the comments section, we'll load
// all our dependencies and render the comments.
commentsObserver.observe(commentsSection);  
</script>

{{ end }}
